{% extends "base.html" %}

{% block content %}

<div class="container mt-4">
    <h2 class="text-center color-info mb-2 wow fadeIn animation-delay-4">Catálogo de Serviços de TI</h2>
    <p class="lead text-center aco wow fadeIn animation-delay-4 mw-800 center-block mb-4"> O
      <span class="color-info">Catálogo de Serviços de TI da UFAL</span> é uma ferramenta que reúne todos os serviços que a área de tecnologia da informação da Universidade Federal de Alagoas oferece e as principais informações sobre eles. </p>
    <div-- class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card ms-feature wow fadeIn animation-delay-4">
          <div class="text-center card-body">
            <!--span class="ms-icon ms-icon-circle ms-icon-xxlg color-info"><i class="zmdi zmdi-phone"></i></span-->
            <h4 class="color-info">Solicitação de Novo Ramal</h4>
            <p class="">Fornecimento, manutenção e orientação sobre ramais VOIP.<br>&nbsp<br>&nbsp</p>
            <a href="javascript:void(0)" class="btn btn-info btn-raised">Entrar</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card ms-feature wow fadeIn animation-delay-4">
          <div class="text-center card-body">
            <!--span class="ms-icon ms-icon-circle ms-icon-xxlg color-info"><i class="fa fa-server"></i></span-->
            <h4 class="color-info">Manutenção de Ramal</h4>
            <p class="">Serviço de Máquina Virtual e Collocation oferecido por esta Instituição.<br>&nbsp</p>
            <a href="javascript:void(0)" class="btn btn-info btn-raised">Entrar</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card ms-feature wow fadeIn animation-delay-4">
          <div class="text-center card-body">
            <!--span class="ms-icon ms-icon-circle ms-icon-xxlg color-info"><i class="fas fa-network-wired"></i></span-->
            <h4 class="color-info">Atualização de Lista Telefônica</h4>
            <p class="">Manutenção e consultoria em redes cabeada e sem fio. Disponibilização de IP público e privado.</p>
            <a href="javascript:void(0)" class="btn btn-info btn-raised">Entrar</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card ms-feature wow fadeIn animation-delay-4">
          <div class="text-center card-body">
            <!--span class="ms-icon ms-icon-circle ms-icon-xxlg color-info"><i class="zmdi zmdi-cloud-outline"></i></span-->
            <h4 class="color-info">Solicitação de Registro de Ligação</h4>
            <p class="">Modificação de Perfil de Ramal<br>&nbsp<br>&nbsp</p>
            <a href="javascript:void(0)" class="btn btn-info btn-raised">Entrar</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card ms-feature wow fadeIn animation-delay-4">
          <div class="text-center card-body">
            <!--span class="ms-icon ms-icon-circle ms-icon-xxlg color-info"><i class="fas fa-network-wired"></i></span-->
            <h4 class="color-info">Implantação de Central de Atendimento</h4>
            <p class="">Manutenção e consultoria em redes cabeada e sem fio. Disponibilização de IP público e privado.</p>
            <a href="javascript:void(0)" class="btn btn-info btn-raised">Entrar</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card ms-feature wow fadeIn animation-delay-4">
          <div class="text-center card-body">
            <!--span class="ms-icon ms-icon-circle ms-icon-xxlg color-info"><i class="fas fa-network-wired"></i></span-->
            <h4 class="color-info">Solicitação de Ramal Acadêmico</h4>
            <p class="">Manutenção e consultoria em redes cabeada e sem fio. Disponibilização de IP público e privado.</p>
            <a href="javascript:void(0)" class="btn btn-info btn-raised">Entrar</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card ms-feature wow fadeIn animation-delay-4">
          <div class="text-center card-body">
            <!--span class="ms-icon ms-icon-circle ms-icon-xxlg color-info"><i class="fas fa-network-wired"></i></span-->
            <h4 class="color-info">Configuração de Ramal Virtual</h4>
            <p class="">Manutenção e consultoria em redes cabeada e sem fio. Disponibilização de IP público e privado.</p>
            <a href="javascript:void(0)" class="btn btn-info btn-raised">Entrar</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card ms-feature wow fadeIn animation-delay-4">
          <div class="text-center card-body">
            <!--span class="ms-icon ms-icon-circle ms-icon-xxlg color-info"><i class="fas fa-network-wired"></i></span-->
            <h4 class="color-info">Manuais e Documentos</h4>
            <p class="">Manutenção e consultoria em redes cabeada e sem fio. Disponibilização de IP público e privado.</p>
            <a href="javascript:void(0)" class="btn btn-info btn-raised">Entrar</a>
          </div>
        </div>
      </div>

      <!--div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card ms-feature wow fadeIn animation-delay-4">
          <div class="text-center card-body">
            <span class="ms-icon ms-icon-circle ms-icon-xxlg color-info"><i class="zmdi zmdi-cloud-outline"></i></span>
            <h4 class="color-info">A feature title</h4>
            <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dicta error.</p>
            <a href="javascript:void(0)" class="btn btn-info btn-raised">Entrar</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card ms-feature wow fadeIn animation-delay-4">
          <div class="text-center card-body">
            <span class="ms-icon ms-icon-circle ms-icon-xxlg color-warning"><i class="zmdi zmdi-cloud-outline"></i></span>
            <h4 class="color-warning">A feature title</h4>
            <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dicta error.</p>
            <a href="javascript:void(0)" class="btn btn-warning btn-raised">Entrar</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card ms-feature wow fadeIn animation-delay-4">
          <div class="text-center card-body">
            <span class="ms-icon ms-icon-circle ms-icon-xxlg"><i class="zmdi zmdi-cloud-outline"></i></span>
            <h4 class="color-exprimary">A feature title</h4>
            <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dicta error.</p>
            <a href="javascript:void(0)" class="btn btn-primary btn-raised">Entrar</a>
          </div>
        </div>
      </div>
    </div-->
</div>

{% endblock %}